<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @basic_food_item.title %>
</p>

<%= link_to 'Edit', edit_basic_food_item_path(@basic_food_item) %> |
<%= link_to 'Back', basic_food_items_path %>
