<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @suggested_food_item.title %>
</p>

<%= link_to 'Edit', edit_suggested_food_item_path(@suggested_food_item) %> |
<%= link_to 'Back', suggested_food_items_path %>
